# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
*.ipynb_checkpoints

# Data and results
*.csv
*.tsv
*.xls
*.xlsx
*.h5
*.db
*.sqlite
*.parquet
*.feather
*.json
*.log
*.out
*.tmp

# OS files
.DS_Store
Thumbs.db
._*

# Environment and package files
.env
.venv/
venv/

# VS Code settings
.vscode/

# Ignore data folder except for specific files
/data/
!/data/Most_extreme_pictures/
!/data/Icon
